.about-container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
 
  line-height: 1.6;
}

.hero-section {
  text-align: center;
  margin-bottom: 40px;
}

.hero-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.story-section,
.mission-section,
.values-section,
.team-section {
  margin-bottom: 40px;
 
}
.values-section ul li{
    margin-left: 5px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

ul li {
  margin: 6px 0;
}
