
.ship{
  border: 2px black solid ;
  width: 40%;
  padding-top: 20px;
  padding: 20px;
  box-shadow: 1px 5px 10px black;
  margin-left: 20px;
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
  background-color :rgb(235, 232, 232);
  border-radius: 10px;
 
}

.ship-whole{
 display: flex;
 justify-content: space-around;
}