.contact-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact-info {
  border: 2px solid black;
  padding: 5%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 20px;
  background-color: #f9f9f9;
}

.contact-title {
  color: #000000;
  margin-bottom: 10px;
}

.contact-subtitle {
  color: #333333;
  margin-bottom: 15px;
}

.num {
  font-size: 16px;
  margin: 5px 0px;
}

.touch {
  flex: 1;
  margin-left: 50px;
  padding: 20px;
  border: 2px solid #cccccc;
  border-radius: 15px;
  background-color: #fdfdfd;
  margin-right: 20px;
}

.touch-title {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.touch label {
  display: block;
  margin: 10px 0px 5px;
  font-weight: bold;
}

.touch input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.csub {
  background-color: #56021f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 20%;
}

.csub:hover {
  background-color: #6b062a;
}