.contact-container {
  display: flex;

  align-items: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  margin-left: 20px;

}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.contact-title {
  font-size: 2rem;
  color: #56021F;
}

.contact-subtitle {
  font-size: 1.2rem;
  color: #333;
}

.info-item .num {
  margin: 5px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: solid 1px #000000;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-left: 30%;
}

.contact-form input {
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-group button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #56021F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-group button:hover {
  background-color: #7a0a2f;
}
