

.header {
    background-color: #56021F;
    color: #1689fd;
   

}

#icon {
    font-weight: bold;
    font-size: large;
    margin-left: 10;
    text-align: center;
    background-color: #03051E;
}

#container {
    padding: 15px;
    justify-content: space-between;

}

.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 23%;
    position: relative;
}

.ilist {
    margin-left: 40px;
    color: #EDDFE0;

}

.ilist:hover {
    color: #d6c847;
    text-shadow:
        0 0 2px #d6c847;

}

.brand {
    color: #d6c847;

    margin-left: 5px;
    font-size: larger;
    font-weight: bolder;
}